# ======================
# Android / Gradle
# ======================
.gradle/
build/
**/build/
local.properties

# ======================
# IntelliJ / Android Studio
# ======================
.idea/
*.iml

# ======================
# OS-specific
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs & temp files
# ======================
*.log

# ======================
# Native build artifacts
# ======================
.externalNativeBuild/
.cxx/

# ======================
# Emulator / Device captures
# ======================
captures/

# ======================
# Kotlin / KAPT
# ======================
kaptGenerated/

# ======================
# Releases
# ======================
app/keystore/*.jks
app/signing.properties
app/release/
